<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div class="header">
        <div class="home-left">
            <span class="home-cartel"><a href="">Home</a></span>
        </div>
        <div class="botonera-right">
            <button><a href="">Buscar</a></button>
            <button><a href="">Carrito</a></button>
            <button><a href="">Signin</a></button>
            <button><a href="">Signup</a></button>
            <button><a href="">Signout</a></button>
        </div>
    </div>
    <div class="body">
        <div class="zona-mostrar">
            <img src="./aae922043f79f1646a95d60ca699510c-removebg-preview.png" alt="">
            <span>Tu tienda virtual al alcance de tus manos</span>
        </div>
        <div class="social-links">
            <a href=""><i class="fa-brands fa-facebook" style="color: #050505;"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp" style="color: #050505;"></i></a>
            <a href="https://github.com/4lfa04/"><i class="fa-brands fa-github" style="color: #050505;"></i></a>
            <a href="https://t.me/PipBoy_Real_No_FakeBot"><i class="fa-brands fa-telegram" style="color: #050505;"></i></a>
        </div>
    </div>
</body>
</html>